#!/usr/bin/make -f

export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_build:
	curl -sL https://github.com/Juwan-Hwang/Zephyr/releases/download/v2.4.3/Zephyr_2.4.3_amd64-full.deb -o upstream.deb
	dpkg-deb -x upstream.deb build_extracted/

override_dh_auto_install:
	mkdir -p debian/zephyr/usr/bin debian/zephyr/usr/share/applications debian/zephyr/usr/share/icons/hicolor debian/zephyr/usr/lib
	cp -a build_extracted/usr/bin/* debian/zephyr/usr/bin/
	ln -sf Zephyr debian/zephyr/usr/bin/zephyr
	cp -a build_extracted/usr/share/applications/* debian/zephyr/usr/share/applications/
	cp -a build_extracted/usr/share/icons/hicolor/* debian/zephyr/usr/share/icons/hicolor/
	cp -a build_extracted/usr/lib/* debian/zephyr/usr/lib/

override_dh_strip:
	dh_strip --no-automatic-dbgsym
